/*Formulario*/
.form_title{
  text-align: center;
  font-size: 1rem;
  padding: 1rem 0;
  margin: 5%;
}

.mobile-logo img{
  width: 35%;
  display: initial;
  margin-top: 10%;
}

.icons-login img{
  height: 100%;
}
 
.icons-login{
    height: 6vh;
    display: flex;
    justify-content: center;
    margin: 8%;
  }

a {
  color: var(--pink);
  font-weight: 600;
}

.session-text{
  margin-top: 8%;
}

.desktop-logo {
  display: none;
}

 /*Botones*/
 .button-auth {
  padding: 10px;
  font-weight: 400;
  background-color:var(--pink);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: .9rem;
  margin-top: 1rem;
  transition: all .3s ease-in;
  color: white;
}


@media (min-width: 800px) {

  #backg-imag{
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../img/Imagenes/bruce-mars-ZXq7xoo98b0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
}

#container-sign-in {
  width: 40%;
  height: 70%;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--background-color-opacity);
  border-radius: 20px;
  cursor: pointer;
  margin: auto 33%;
  margin-top: 5%;
  text-align: center;
}

.mobile-logo img {
  display: none;
}

.logo {
  padding-left: 20px;
  height: 3rem;
}

#container-sign-up {
  width: 40%;
  height: 70%;
  margin: 2rem;
  padding: 1rem;
  background-color: var(--background-color-opacity);
  border-radius: 20px;
  cursor: pointer;
  margin: auto 33%;
  margin-top: 5%;
  text-align: center;
 } 
 
}