#container-feed {
  width: 100%;
  height: 100vh;
  display: contents;
  justify-content: center;
  background-color: var(--background-color-opacity);
  padding: 1rem 2rem;
  justify-content: flex-end;
}

#post{
height: 10rem;
background: white;
width: 85%;
}

#inputPost {
width: 100%;
padding: 5%;
margin-top: 5%;
}

.titte-Post{
display: flex;
align-items: center;
}

.tittle-post-published{
display: flex;
align-items: center;
justify-content: space-between;
}

.userdisplay {
width: 2rem;
}

.barra-rosada{
background: var(--pink);
display: flex;
justify-content: space-between;
height: 2rem;
align-items: center;
}    

#btnPost{
border-radius: 7px;
border: none;
cursor: pointer;
font-size: 0.85rem;
transition: all .3s ease-in;
color: var(--pink);
background-color: var(--background-color);
margin-right: 1rem;
width: 4rem;
}
#inputPost{
border: none;
}

textarea{
margin-block: 1rem;
width: inherit;
}

#postPublished{
margin-top: 3rem;
height: 10rem;
background: white;
width: 90%;
}

.icon-pic{
margin-left: 1rem;;
}

.icon-like{
background-image: url("../img/iconos/like.png");
width: 1.7rem;
background-position: center;
border: none;
cursor: pointer;
background-color: unset;
background-repeat: no-repeat;
}

.icon-dislike {
background-image: url("../img/iconos/dislike.png");
width: 1.7rem;
background-position: center;
border: none;
cursor: pointer;
background-color: unset;
background-repeat: no-repeat;
}


.binPost{
  background-image: url("../img/iconos/bin.png");
  height: 2rem;
  width: 3rem;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: unset;
  background-repeat: no-repeat;
}
 
.like{
display: flex;
}

#counterLike{
margin-left: 1rem;
}