#container-feed {
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 1rem 2rem;
    justify-content: flex-end;
    margin-top: 6%;
}

#post{
  background: white;
  width: 90%;
  border: 1px solid lightgray;
  border-radius: 0.75rem;
  margin: auto;
}

#inputPost {
width: 100%;
text-align: left;
padding: 0 1rem 1rem 3rem;
}

.titte-Post{
display: flex;
align-items: center;
}

.tittle-post-published{
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.5rem;
}

.userdisplay {
width: 2rem;
}

.user{
  align-items: center;
  display: flex;
}

.user h4{
  padding-left: 0.5rem;
}

 .barra-rosada{
  background: var(--pink);
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
  border-radius: 0 0 0.75rem 0.75rem;
}    

#btnPost{
border-radius: 7px;
border: none;
cursor: pointer;
font-size: 0.85rem;
transition: all .3s ease-in;
color: var(--pink);
background-color: var(--background-color);
margin-right: 1rem;
width: 4rem;
}

/*#inputPost{
border: none;
}*/

textarea{
width: inherit;
border-radius: 0.4rem;
}

#postDone{
  border: 1px solid lightgray;
  margin: 1rem 0;
  border-radius: 0.75rem;
  background-color: white;
}

#postPublished{
  height: 10rem;
  background: white;
  width: 90%;
  margin: 3rem auto 0;
}

.icon-pic{
margin-left: 1rem;;
}

.icon-like{
background-image: url("../img/iconos/like.png");
width: 1.7rem;
background-position: center;
border: none;
cursor: pointer;
background-color: unset;
background-repeat: no-repeat;
position: relative;
height: 1.7rem;
margin-left: 0.5rem;
font-weight: 800;
font-size: 12px;
padding-left: 2px;
padding-top: 5px;
}

.icon-dislike {
background-image: url("../img/iconos/dislike.png");
width: 1.7rem;
background-position: center;
border: none;
cursor: pointer;
background-color: unset;
background-repeat: no-repeat;
}

.binPost{
background-image: url("../img/iconos/bin.png");
height: 1rem;
width: 1rem;
background-position: center;
border: none;
cursor: pointer;
background-color: unset;
background-repeat: no-repeat;
background-size: contain;
resize: both;
}
     
.icon-coment img{
  width: 20px;
  margin: 0.75rem 0.5rem 0;
}

.like{
display: flex;
}

#counterLike{
  position: absolute;
  z-index: 500;
  padding-top: 10px;
  padding-left: 19px;
  font-size: 12px;
  font-weight: 800;
  color: var(--pink);
}

.ediPost{
background-image: url("../img/iconos/editar.png");
width: 1.7rem;
border: none;
cursor: pointer;
background-color: unset;
background-repeat: no-repeat;
height: 1.7rem;
margin: auto 0.25rem 0.3rem 0 ;
}

@media (min-width: 800px) {
 
  #container-feed {
    width: 80%;
  }
}