@import url('https://fonts.googleapis.com/css2?family=Asap&family=Vollkorn:ital,wght@1,800&display=swap');

  :root{
    --body-font: 'Asap', sans-serif;
    --title-font: 'Vollkorn', serif;
    --background-color: #F5F5FA; 
    --background-color-opacity: rgba(245, 245, 250, 0.62);
    --pink: #E55381; 
  }
  
  *{
      margin: 0%;
      padding: 0;
      cursor: pointer;
      box-sizing: border-box;
      font-family: var(--body-font);
    }

    body {
      display: grid;
      min-height: 100vh;
      grid-template-rows: auto 1fr auto;
    }

    #root {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
   
    /*Footer*/
    footer{
      background-color: rgba(0, 0, 0, 0.78);
      color: white;
      justify-content: space-around;
      text-align: center;
      bottom: 0;
      width: 100%;
      display: flex;
      position: fixed;
    }

    /*Formulario*/
    input {
      text-align: center;
      padding: .2rem 0;
      font-size: .9rem;
      color: black;
      background: white;
      border: 1px solid lightgrey;
      border-radius: 8px;
    }

    .inputForm {
      height: 5vh;
      width: 90%;
      display: block;
      margin: auto;
      margin-bottom: 1rem;
    }
    
    .inputForm:focus{
      outline: var(--pink);
      border: 6px var(--pink);
      color: var(--pink);
    }

    /*Navbar*/
    nav { 
      margin:0%;   
      background-color: var(--pink);
      width: 100%;
      display: flex;
      justify-content: space-between;
      }
      
      nav ul {
        display: flex;
        justify-content: space-evenly;
      }

      
      nav ul li {
        height: 30px;
        display: flex;
        align-items: center;
        margin: 10px;
      }
      
      nav ul li a {
      text-decoration: none;
      background-color:#fff;
      color: black;
      opacity:.42; 
      padding: 8px 16px;
      border-radius: 20px;
      }
      
      nav a:hover {
      background-color: gray;
      }  

    .checkbtn {
        font-size: 20px;
        color: #fff;
        float: right;
        line-height: 50px;
        margin-right: 20px;
        cursor: pointer;
        display: none;
    }

    #check {
        display: none;
    }

  @media (max-width: 800px) {
    .logo{
        display: none;
        opacity: 0;
    }

     .nav-menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        position: fixed;
        left: 0;
        top: 60px;
        background-color: var(--pink);
        border-radius: 30px;
        left: 100%;
    }
    
    nav ul li {
        height: 30px;
        display: flex;
        align-items: center;
        margin: 10px;
      }

    nav {
     background-color: var(--pink);
    }

    .checkbtn{
        display: flex;
        cursor: pointer;
        } 
      
    #check:checked ~ .nav-menu{
          left: 0;
        }
}
