@import url('https://fonts.googleapis.com/css2?family=Asap&family=Vollkorn:ital,wght@1,800&display=swap');

*{
    margin: 0%;
    padding: 0;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
  }

  body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/Imagenes/bruce-mars-ZXq7xoo98b0-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
  }

  img {
    width: 10%;
    margin: 2px;
  }

  header {
    background-color: #E55381;
    width: 100%;
  }
   
  .container-form{
    width: 70%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-out;
  }
  
  .formulario {
    width: 300px;
    height: 350px;
    margin: 2rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255, 0.4);
   /* opacity: 0.6;*/
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur(2px);
  }

  button {
    padding: 10px;
    font-weight: 400;
    background-color: #E55381;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: white;
  }

  button:hover{
    background: black;
  }

  .form_title {
    font-size: 1rem;
    padding: 1rem 0;
  }

   input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    text-align: center;
    padding: .2rem 0;
    font-size: .9rem;
    color: black;
    background: white;
    box-shadow: 0 5px 10px -5px;
    border: none;
  }

